NODE_PROC=true # Enable see the logs on the console
# Avaible options
# true
# false

PORT= # Port for server
DATABASE_URL= 

#User and password to root
ROOT_USER=
ROOT_PASSWORD=

SALTROUNDS= #Saltrounds for password encrypting
AUTHSECRET= #Key for encrypting JWT tokens for users

EMAILSERVICE= #Email address
EMAIL=  #email for password reset
EMAILPASSWORD=

IPADDRESS= #Public address of this server
# Use for email password recovery
# Example: www.production.com:port
# Bad example: localhost:port
